@font-face {
 font-family: 'gentleman';
 src: url(../fonts/gentleman-800-bold-webfont.woff),
			url(../fonts/gentleman-800-bold-webfont.woff2),
			url(../fonts/gentleman-800-bold-webfont.ttf);
 font-weight: 800;
}

@font-face {
 font-family: 'gentleman';
 src: url(../fonts/gentleman-900-heavy-webfont.woff),
			url(../fonts/gentleman-900-heavy-webfont.woff2),
			url(../fonts/gentleman-900-heavy-webfont.ttf);
 font-weight: 900;
}

@font-face {
 font-family: 'gentleman';
 src: url(../fonts/gentleman-600-regular-webfont.woff),
			url(../fonts/gentleman-600-regular-webfont.woff2),
			url(../fonts/gentleman-600-regular-webfont.ttf);
 font-weight: 600;
}

.badge.google img {
  width: 208px;
  padding: 50px 0 0 0;
}
.badge.apple img {
  width: 200px;
  padding: 0 0 30px 0;
}
.web {
  color: #020202;
  margin: 0 0 50px 0;
}
  .web:hover {
    text-decoration: underline;
  }

.s1 b {
  text-transform: uppercase;
}

.icon {
  text-align: center;
}
  .icon img {
    width: 70px;
  }
