

/*
 * design for each fixed sections
 */
section.fixed.f1 {
	background-image: url("../images/background.jpg");
}
	section.fixed.f1 .intro {
		margin-top: 50px;
		margin-bottom: 100px;
	}
		section.fixed.f1 .intro p span {
			background: #fff;
			padding: 3px 10px;
		}
		section.fixed.f1 .intro p span.ficus {
			font-weight: 700;
		}

	section.fixed.f1 img.logo {
		margin-bottom: 100px;
	}		
/*
 * design for each scrolling sectiona
 */
section.scrolling.s2 img {
	max-width: 100%;
}
section.scrolling.s3 {
	background-color: #d52121;
	color: #fff;
}
